@font-face {
    font-family: 'Avenir Next Demi';
    src: url('assets/fonts/AvenirNext-DemiBold.woff2') format('woff2'),
        url('assets/fonts/AvenirNext-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
	font-family: 'Avenir Next LT Pro';
	src: url('assets/fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
	url('assets/fonts/AvenirNextLTPro-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}